
<div class="bg-black">
    <nav class="navbar-expand-lg d-flex justify-content-between">
        <img src="https://img.freepik.com/free-vector/hand-drawn-flat-design-anarchy-symbol_23-2149242489.jpg?size=626&ext=jpg&ga=GA1.1.373270322.1691495634&semt=ais" alt="logo" width="100px" height="100px">
        <ul class="d-flex justify-content-end">
            <button class="btn btn-success m-1">
            <li class="list-group" routerLink="register">Sign-Up</li>
            </button>
            <button class="btn btn-success m-1">
            <li class="list-group" routerLink="login">Login</li>
            </button>
        </ul>
    </nav>
</div>
<app-loader></app-loader>
